<!--<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">-->
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <%#= page_entries_info books %>
  </div>
  <%= will_paginate books, :container => false %>
<!--</div>-->