<%= form_with(url: '/books', method: :get, data: {action: "submit->books#submit"}) do |f| %>
  <div class="col-xs-8 col-xs-offset-2">
    <div class="input-group">
      <div class="input-group-btn search-panel">
        <div class="dropdown">
          <button type="button" class="btn btn-default dropdown-toggle">
            <span id="search_concept">Filter by</span> <span class="caret"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
          </div>
        </div>
      </div>
      <%= text_field_tag :query, params[:query], data: {target: "books.query"}, class: 'form-control search-input' %>
      <span class="input-group-btn">
        <%= submit_tag("Search", class: "btn btn-default search-button") %>
      </span>
    </div>
  </div>
<% end %>
